*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.block{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.form{
    display: flex;
}

.input-form{
    font-size: 20px;
    flex: 1;
    padding: 5px;
    border: 2px solid #00DAFF;
    border-radius: 5px 0 0 5px;
    outline: none;
    border-right: none;
}

.btn{
    background-color: #00DAFF;
    padding: 5px;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}

.city{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

.temp{
    font-size: 20px;
    margin-top: 30px;
}

.flex{
    display: flex;
    align-items: center;
}

.desc{font-size: 20px;}

.icon{}